<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>Servletlogin</servlet-name>
        <servlet-class>com.example.javaee_cda_p.Servletlogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servletlogin</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletFirstForm</servlet-name>
        <servlet-class>com.example.javaee_cda_p.ServletFirstForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletFirstForm</servlet-name>
        <url-pattern>/firstform</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletJstl</servlet-name>
        <servlet-class>com.example.javaee_cda_p.ServletJstl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletJstl</servlet-name>
        <url-pattern>/jstl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletWebXml</servlet-name>
        <servlet-class>com.example.javaee_cda_p.ServletWebXml</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletWebXml</servlet-name>
        <url-pattern>/my-beautiful-path</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletHome</servlet-name>
        <servlet-class>com.example.javaee_cda_p.ServletHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletHome</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <jsp-config>
       <jsp-property-group>
           <url-pattern>*.jsp</url-pattern>
           <include-prelude>/WEB-INF/tagLibs.jsp</include-prelude>
       </jsp-property-group>
    </jsp-config>
</web-app>